.tile-container {
  margin: 0;
  width: round(up, var(--tile-w), 0.25px);
  height: round(up, var(--tile-h), 0.25px);

  font-size: 1rem;

  position: relative;
}

.tile {
  opacity: calc(1 / var(--states));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* scale: calc(1 / var(--states)); */
  /* transition: scale 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55); */
}
